body {
    margin: 0;
    padding: 0;
}

.conteiner {
    max-width: 100%;
}
header {
    height: 780px;
}
/* Header */
.header {
    position: relative;
    max-width: 1600px;
    height: 80px;

    background: #000000;
    backdrop-filter: blur(2px);
    display: grid;
    grid-template-columns: 28.9% 23.4% 47.7%;
    overflow: visible;
}

.logo {
    width: 82px;
    height: 52px;
    margin-top: 14px;
    margin-bottom: 14px;
    justify-self: end;
    margin-right: 63px;
}

.box-logo {
    box-sizing: border-box;
    position: relative;
    width: 82px;
    height: 52px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
}

.box-logo:hover {
    cursor: pointer;
}

.logo-text {
    box-sizing: border-box;
    width: 72.49px;
    height: 44.91px;
    left: 4.75px;
    top: 3.55px;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
}
.logo-text a {
    text-decoration: none;
}

.bamboo {
    box-sizing: border-box;
    position: relative;
    width: 7.03px;
    height: 20.98px;
    left: 13.23px;
    top: 24.64px;
}

.navigation {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 26%;
    justify-content: start;
    align-content: start;
    column-gap: 58px;
    margin-top: 29px;
    margin-bottom: 29px;
    padding-left: 0;
}

.des {
    position: relative;
    margin-top: 29px;
    margin-bottom: 29px;
    margin-right: 220px;
    margin-left: 0;
    justify-self: end;
}

.navigation a {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

#About {
    color: #F9804B;
}

.navigation a:hover {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    cursor: pointer;
}

.navigation a.active {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

li {
    list-style-type: none;
}

#Designed {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

@media (max-width: 1290px) {
    .header {
        grid-template-columns: 17.5% 38.9% 39.4%;
    }

    .logo {
        margin-left: 30px;
        margin-top: 13px;
        margin-bottom: 13px;
        margin-right: 0;
        justify-self: start;
    }

    .navigation {
        column-gap: 48px;
    }

    .des {
        margin-right: 30px;
    }
}

@media (max-width: 780px) {
    .header {
        height: 34px;
    }

    .logo {
        width: 46.93px;
        height: 29.03;
        margin-left: 20.07px;
        margin-top: 2.29px;
        margin-bottom: 2.68px;
        margin-right: 0;
    }

    .box-logo {
        width: 46.93px;
        height: 29.03;
        border: none;
    }

    .logo-text {
        width: 46.86px;
        height: 29.03px;
        left: 0px;
        top: 0px;
        font-weight: 400;
        font-size: 12.2899px;
        line-height: 120%;
        text-align: center;
    }

    .navigation {
        display: none;
    }

    .des {
        display: none;
    }
}

@media(max-width: 400px) {
    .logo {
        margin-left: 10.07px;
    }
}

    /* header picture */
    .image-pand {
        display: none;
        max-width: 1600px;
    }
    .panda {
        position: relative;
        height: 780px;
        left: 0px;
        right: 0px;
        top: 0px;
        max-width: 100%;
        background: url(images/GiantPanda.png) no-repeat;
        background-size:cover;
        background-position: center center;
    }
    .ellipse {
        position: relative;
        width: 465px;
        height: 465px;
        top: 12px;
        right: 328px;
        bottom: 223px;
        left: 807px;
        border-radius: 50%;
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    }

    .text-panda {
        position: relative;
        width: 500.31px;
        height: 400px;
        left: 880px;
        right: 219.69px;
        top: -450px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 106.496px;
        line-height: 75%;

        text-align: center;
        text-transform: uppercase;

        color: #FFFFFF;
    }

    .important {
        color: #FFEE2E;
    }

    /* button */
    .wath-video {

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        position: absolute;
        width: 297px;
        height: 52px;

    }

    .button-video {
        position: absolute;
        width: 298px;
        height: 54px;
        left: calc(50% - 298px/2 + 332px);
        right: 319px;
        top: 626px;
        bottom: 100px;
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        border-radius: 25px;
    }

    button {
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
    }

    .button-video:hover {
        background: #FFFFFF;
        color: #F9804B;
        cursor: pointer;
    }

    .wath-video:hover {
        color: #F9804B;
        cursor: pointer;
    }
    @media(max-width: 1290px) {
        .panda {
            height: 584px;
        }
        .ellipse {
            height: 367px;
            width: 367px;
            top: -11px;
            right: 177px;
            bottom: 148px;
            left: 456px;
            overflow: hidden;
        }
        .text-panda {
            position: relative;
            width: 400.25px;
            height: 320px;
            left: 514px;
            right: 85px;
            top: -379px;
            font-size: 85px;
        }
        .button-video {
            width: 298px;
            height: 54px;
            left: calc(50% - 298px/2 + 214px);;
            right: 137px;
            top: 483px;
            bottom: 47px;
        }

    }
    @media(max-width: 780px) {
        .panda {
            height: 373px;
        }
        .ellipse {
            height: 237.6px;
            width: 237.6px;
            top: 10.23px;
            right: 70.11px;
            bottom: 91.17px;
            left: 330.99px;
        }
        .text-panda {
            position: relative;
            width: 255.64px;
            height: 204.38px;
            left: 368.09px;
            right: 16.28px;
            top: -224px;
            font-size: 54.2894px;
        }
        .button-video {
            width: 298px;
            height: 54px;
            left: calc(50% - 298px/2 - 151px);
            right: 320.49px;
            top: 279px;
            bottom: 40px;
        }
    }
    @media(max-width: 400px) {
        .ellipse {
            height: 119.09px;
            width: 119.09px;
            top: 10px;
            right: 69.84px;
            bottom: 45.7px;
            left: 164.6px;
        }
        .panda {
            height: 187px;
            
        }
        .text-panda {
            position: relative;
            width: 128.13px;
            height: 102.44px;
            left: 183.6px;
            right: 42.1px;
            top: -108px;
            font-size: 28px;
        }
        .button-video {
            width: 298px;
            height: 54px;
            left: calc(50% - 298px/2);
            right: 11px;
            top: 241px;
            bottom: 0
        }

    }

    /* Section-1 */

    .section-1 {
        position: relative;
        width: 1161px;
        height: 403px;
        right: 220px;
        top: 140px;
        left: 219px;
        display: grid;
        grid-template-columns: 609px 552px;
    }

    .section-1 img {
        max-width: 100%;
        height: 403px;
        left: 0px;
        top: 0px;
        backdrop-filter: blur(2px);
        object-fit: cover;
    }

    .section-1-text {
        max-width: 100%;
        padding-top: 0;
        margin-top: 0;
        padding-left: 87px;
    }

    .section-1 h2 {
        height: 116px;
        max-width: 465px;
        right: 0px;
        top: 0px;
        margin: 0;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 120%;
        color: #333B41;
    }

    .text-1 {
        height: 42px;
        max-width: 465px;
        margin: 0;
        margin-top: 20px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        /* or 21px */
        color: #333B41;
    }

    .text-2 {
        max-width: 217px;
        height: 29px;
        margin: 0;
        margin-top: 54px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        /* identical to box height, or 29px */
        color: #333B41;
    }

    .text-3 {
        height: 105px;
        max-width:465px;
        margin: 0;
        margin-top: 34px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        /* or 22px */
        color: #333B41;
    }
    .cont-flower-1 {
        position: relative;
        width: 200px;
        height: 605px;
        left: 1400px;
        top: -390px;
    }

    .flower-1 {
        width: 100%;
        height: 605px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    @media (max-width: 1290px) {
        .section-1 {
            width: 940px;
            height: 427px;
            right: 30px;
            top: 100px;
            left: 30px;
            grid-template-columns: 455px 485px;
        }
    
        .section-1 img {
            max-width: 100%;
            height: 408px;
            margin-top: 9px;
            margin-bottom: 10px;
        }
        .section-1-text {
            height: 427px;
            max-width: 100%;
            padding-left: 31px;
        }
    
        .section-1 h2 {
            height: 116px;
            max-width: 454px;
        }
    
        .text-1 {
            height: 42px;
            max-width: 454px;
        }
    
        .text-2 {
            max-width: 213px;
            height: 29px;
        }
    
        .text-3 {
            height: 105px;
            max-width:454px;
        }
        .cont-flower-1 {
           display: none;
        }
    }
    @media (max-width: 780px) {
        .section-1 {
            width: 495px;
            height: 367px;
            right: 125px;
            top: 60px;
            left: 20px;
            grid-template-columns: 0px 495px;
        }
    
        .section-1 img {
            display: none;
        }
        .section-1-text {
            height: 367px;
            max-width: 495px;
            padding-left: 0;
            margin-left: 20px;
        }
    
        .section-1 h2 {
            height: 116px;
            max-width: 454px;
            padding-left: 4px;
        }
    
        .text-1 {
            height: 42px;
            max-width: 454px;
            padding-right: 41px;
        }
    
        .text-2 {
            max-width: 213px;
            height: 29px;
            margin-top: 30px;
            padding-left: 4px
        }
    
        .text-3 {
            height: 110px;
            max-width:495px;
            margin-top: 20px;
        }
        .cont-flower-1 {
            display: block;
            width: 128px;
            height: 476px;
            left: 512px;
            top: -370px;
        }
    
        .flower-1 {
            height: 476px;
        }
    }
    @media (max-width: 400px) {
        .section-1 {
            grid-template-columns: none;
        }
        .section-1-text {
            height: 388px;
            max-width: 300px;
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 88px;
        }
    
        .section-1 h2 {
            height: 58px;
            max-width: 300px;
            font-size: 24px;
        }
    
        .text-1 {
            height: 63px;
            max-width: 297px;
            margin-top: 10px;
        }
    
        .text-2 {
            max-width: 213px;
            height: 29px;
            margin-top:20px;
        }
    
        .text-3 {
            height: 198px;
            max-width:300px;
            margin-top:10px;
        }
        .cont-flower-1 {
            width: 31px;
            height: 217px;
            left: 289px;
            top: -270px;
        }
    
        .flower-1 {
            height: 198px;
        }
    }

    /* section-2 */
    .section-2 {
        position: relative;
        width: 1600px;
        height: 1009px;
    }
    .section-2-card {
        position: relative;
        width: 1158px;
        height: 872px;
        left: calc(50% - 1158px/2 - 1px);
        right: 222px;
        top:-425px;
        margin-top: 180px;

        background: #FFFFFF;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 30px;
        row-gap: 30px;
    }
    /* cards */

    .card {
        width: 366px;
        height: 426px;
        left: 0px;
        top: 0px;
        box-sizing: border-box;
        border-radius: 5px;
        border: 2px solid #F9804B;
    }

    /* foto-card */
    .foto-card {
       max-width: 100%;
        height: 366px;
        left: 0px;
        top: 0px;
        border-radius: 5px;
    }

    .foto-card:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

    .button-text-icon {
        display: grid;
        grid-template-columns: 1fr 50px;
    }

    

    .card button {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        /* or 22px */
        text-transform: uppercase;
        padding-left: 16px;
        color: #000000;
    }

    .card button:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .card p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 120%;
        /* identical to box height, or 18px */
        color: #000000;
        margin-top: 0;
        padding-left: 16px;
    }

    /* icons */
    .icons-1 {
        left: 321px;
        top: 10px;
    }

    .icons-2 {
        left: 310px;
        top: 8px;
    }

    .icons-3 {
        position: absolute;
        width: 48px;
        height: 38px;
    }

    .icons-4 {
        position: absolute;
        width: 33px;
        height: 37px;
    }

    /* button of section2 */
    .choose-animal {
        position:relative;
        width: 297px;
        height: 52px;
        /* btn. */
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        /* or 22px */
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .button-choose {
        color: #FFFFFF !important;
        text-decoration: none;
        position: absolute;
        width: 298px;
        height: 54px;
        left: calc(50% - 298px/2);
        top: 526px;
        background: #FE9013;
        border-radius: 25px;
    }

    .button-choose:hover {
        background: #FFFFFF;
        color: #F9804B;
        border: 2px solid #F9804B;
        cursor: pointer;
    }

    .choose-animal:hover {
        color: #F9804B;
        cursor: pointer;
    }

    .left {
        position: absolute;
        width: 62px;
        height: 62px;
        left: 138px;
        top: -15px;
    }

    .elipse-left {
        position: relative;
        width: 62px;
        height: 62px;
        left: 0px;
        top: 0px;
        /* orange */
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        border-radius: 50%;
    }

    .elipse-left:hover {
        background: #FFFFFF;
        color: #F9804B;
        border: 2px solid #F9804B;
        cursor: pointer;
    }

    .el-left {
        position: absolute;
        left: 37.1%;
        right: 37.1%;
        top: 43.55%;
        bottom: 43.55%;
    }

    .right {
        position: absolute;
        width: 62px;
        height: 62px;
        right: 140px;
        top: -15px;
    }

    .elipse-right {
        position: absolute;
        width: 62px;
        height: 62px;
        right: 0px;
        top: 0px;
        /* orange */
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        border-radius: 50%;
    }

    .el-right {
        position: absolute;
        left: 37.1%;
        right: 37.1%;
        top: 43.55%;
        bottom: 43.55%;
    }

    .elipse-right:hover {
        background: #FFFFFF;
        color: #F9804B;
        border: 2px solid #F9804B;
        cursor: pointer;
    }
    @media (max-width: 1290px) {
        .section-2 {
            position: relative;
            width: 1000px;
            height: 1075px;
        }
        .section-2-card {
            position: relative;
            width: 801px;
            height: 801px;
            left: 30px;
            top:110px;
            margin-top: 142px;
            column-gap: 29px;
            row-gap: 92px;
        }
        .card {
            width: 294px;
            height: 354px;
        }
        .foto-card {
           max-width: 100%;
            height: 294px;
        }
        .left {
            left: 353px;
            top: 480px;
        }
        .right {
            right: 353px;
            top: 480px;
        }
        .button-choose {
            left: calc(50% - 298px/2);
            top: 981px;
        }
    }
    @media (max-width: 780px) {
        .section-2 {
            position: relative;
            width: 640px;
            height: 970px;
        }
        .section-2-card {
            position: relative;
            width: 285px;
            height: 332px;
            left: 20px;
            top:-400px;
            margin-top: 80px;
            column-gap: 29.76px;
            row-gap: 92px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
        .card5 {
            display: none;
        }
        .card6 {
            display: none;
        }
        .card {
            width: 285px;
            height: 332px;
        }
        .foto-card {
           max-width: 100%;
            height: 285.24px;
        }
        .icons-3 {
            width: 37.41px;
            height: 29.62px;
        }
    
        .icons-4 {
            width: 25.72px;
            height: 28.84px;
        }
        .card button {
            font-size: 12.4695px;
        }
        .left {
            left: 243px;
            top: -50px;
        }
        .right {
            right: 243px;
            top: -50px;
        }
        .button-choose {
            left: calc(50% - 298px/2);
            top: 411px;
        }
    }
    @media (max-width: 400px) {
        .section-2 {
            position: relative;
            width: 320px;
            height: 1486px;
        }
        .section-2-card {
            position: relative;
            width: 285.24px;
            height: 1352px;
            left: 10px;
            top:-40px;
            margin-top: 40px;
            column-gap: 0;
            row-gap: 20px;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
        }
        .card {
            width: 285px;
            height: 332px;
        }
        .foto-card {
           max-width: 100%;
            height: 285.24px;
        }
        .left {
            display: none;
        }
        .right {
            display: none;
        }
        .button-choose {
            left: calc(50% - 298px/2);
            top: 1371px;
        }
    }

    /* section2-pictire */
    .palm {
        position: absolute;
        width: 240px;
        height: 460px;
        left: 0;
        top: 2149px;

        /* background: url(images/palm_foto.png) no-repeat; */
    }

    .strelitzia {
        position: absolute;
        width: 368px;
        height: 275px;
        right: -45px;
        top: 2334px;
        /* background: url(images/strelitzia1.png); */
        background-size: cover;
    }

    /* section-3 */
    /* text */
    .section-3 {
        position: absolute;
        height: 1004px;
        left: 0px;
        right: 0px;
        top: 2609px;

        background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
        opacity: 0.9;
    }

    .section-3-fon {
        position: absolute;
        height: 835px;
        left: 220px;
        right: 220px;
        top: 69px;
        /* frosted_glass_white */
        background: rgba(253, 253, 255, 0.52);
        backdrop-filter: blur(2px);
        /* Note: backdrop-filter has minimal browser support */
        border-radius: 20px;
    }

    .section-3-title {
        position: absolute;
        width: 463px;
        height: 58px;
        left: calc(50% - 463px/2 + 1.5px);
        top: 41px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 120%;
        /* identical to box height, or 58px */
        text-align: center;
        color: #FE9013;
    }

    .section-3-p1 {
        position: absolute;
        width: 844px;
        height: 29px;
        left: calc(50% - 844px/2 - 59px);
        top: 129px;
        /* subtitle */
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        /* identical to box height, or 29px */
        color: #333B41;
    }

    .section-3-p2 {
        position: absolute;
        width: 1061px;
        height: 21px;
        left: calc(50% - 1061px/2 + 49.5px);
        top: 198px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        /* identical to box height, or 21px */
        color: #333B41;
    }

    .section-3-p3 {
        position: absolute;
        width: 863px;
        height: 42px;
        left: calc(50% - 863px/2 - 49.5px);
        top: 229px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        /* or 21px */
        color: #333B41;
    }

    .link-donat-s3 {
        color: #333B41 !important;
        text-decoration: none;
        text-decoration: underline;
        text-decoration-color: #F9804B;
    }

    .link-donat-s3:hover {
        cursor: pointer;
        text-decoration: none;
    }

    .section-3-title2 {
        position: absolute;
        width: 209px;
        height: 47px;
        left: calc(50% - 209px/2 - 0.5px);
        top: 301px;
    }

    .title2 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 130%;
        /* identical to box height, or 47px */
        color: #333B41;
    }

    /* Block */
    .block {
        position: absolute;
        top: -70px;
        left: 198px;
        width: 746px;
        height: 244px;
        display: grid;
        grid-template-columns: 1fr 69px 1fr 69px 1fr;
        grid-column: 30px;
    }

    .block1 {
        position: absolute;
        width: 168px;
        height: 244px;
        left: calc(50% - 168px/2 - 298px);
        top: 487px;

        border-radius: 5px;
    }

    .img-container1 {
        box-sizing: border-box;

        position: absolute;
        width: 168px;
        height: 168px;
        left: 0px;
        top: 0px;
        border: 1px solid #F9804B;
        background: #FFFFFF;
        border-radius: 5px;
    }

    .money {
        position: absolute;
        width: 108px;
        height: 60px;
        left: 30px;
        top: 54px;
        transform: rotate(180deg) scale(-1, -1);
    }

    .block1-text {
        position: absolute;
        width: 168px;
        height: 46px;
        left: 0px;
        top: 198px;
        /* body */
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        /* or 22px */
        color: #333B41;
    }

    .block3 {
        position: absolute;
        width: 168px;
        height: 244px;
        left: calc(50% - 168px/2);
        top: 487px;

        border-radius: 5px;
    }

    .block5 {
        position: absolute;
        width: 168px;
        height: 244px;
        left: calc(50% - 168px/2 + 298px);
        top: 487px;

        border-radius: 5px;
    }

    .block3-text {
        position: absolute;
        width: 168px;
        height: 46px;
        left: 0px;
        top: 198px;
        /* body */
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        /* or 22px */
        color: #333B41;
    }

    .block5-text {
        position: absolute;
        width: 168px;
        height: 46px;
        left: 0px;
        top: 198px;
        /* body */
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        /* or 22px */
        color: #333B41;
    }

    .zoo {
        position: absolute;
        left: 23.6%;
        right: -26.65%;
        top: 15.57%;
        bottom: 45.49%;
    }

    .monkey {
        position: absolute;
        left: 13.1%;
        right: 12.65%;
        top: 23.67%;
        bottom: 50.98%;
    }

    .block2 {
        position: relative;
        width: 69px;
        height: 35.08px;
        left: 190px;
        top: 550px;
    }

    .block4 {
        position: absolute;
        width: 69px;
        height: 35.08px;
        left: 490px;
        top: 550px;
    }

    /* button */
    .donate-animal {
        position: absolute;
        width: 292px;
        height: 52px;
        /* btn. */
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        /* or 22px */
        text-align: center;
        text-transform: uppercase;
    }

    .button-donate {
        color: #FFFFFF !important;
        text-decoration: none;
        position: absolute;
        width: 298px;
        height: 54px;
        left: calc(50% - 298px/2);
        top: 791px;
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        border-radius: 25px;
    }

    .button-donate:hover {
        background: #FFFFFF;
        color: #F9804B;
        border: 2px solid #F9804B;
        cursor: pointer;
    }

    .donate-animal:hover {
        color: #F9804B;
        cursor: pointer;
    }

    /* section5 */
    /* .section5 {
    position: relative;
width: 1600px;
height: 4975px;

background: #FFFFFF;
} */
    .content5 {
        position: absolute;
        height: 575px;
        left: 220px;
        right: 220px;
        top: 3753px;
    }

    .section5-title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 130%;
        text-align: center;

        color: #333B41;
        position: absolute;
        width: 206px;
        height: 47px;
        left: calc(50% - 206px/2);
        top: -40px;
    }

    .conteiner5 {
        margin: 0;
        display: flex;
    }

    .s5-card1 {
        position: absolute;
        width: 268px;
        height: 391px;
        left: calc(50% - 268px/2 - 446px);
        top: 94px;
        /* gray_light */
        background: #F1F3F2;
        border-radius: 20px;
        border: 2px solid orange;
    }

    .blok1-1 {
        position: absolute;
        width: 37px;
        height: 37px;
        left: 16px;
        top: 15px;
    }

    .blok2-1 {
        position: absolute;
        width: 97px;
        height: 19px;
        left: 63px;
        top: 15px;
    }

    .blok3-1 {
        position: absolute;
        width: 87px;
        height: 18px;
        left: 63px;
        top: 35px;
    }

    .blok4-1 {
        position: absolute;
        width: 5px;
        height: 18px;
        left: 156px;
        top: 35px;
    }

    .blok5-1 {
        position: absolute;
        width: 41px;
        height: 18px;
        left: 166px;
        top: 35px;
    }

    .blok6-1 {
        position: absolute;
        width: 237px;
        height: 309px;
        left: 16px;
        top: 63px;
    }

    .s5-name {
        text-align: center;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        /* or 19px */
        color: #000000;
    }

    .s5-local {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 120%;
        /* or 18px */
        color: #767474;

    }

    .point {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 120%;

        color: #BDBDBD;
    }

    .time {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 120%;

        color: #BDBDBD;
    }

    .text-message {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 120%;

        color: #767474;
    }

    .s5-card2 {
        box-sizing: border-box;

        position: absolute;
        width: 268px;
        height: 391px;
        left: calc(50% - 268px/2 - 148px);
        top: 94px;
        /* gray_light */
        background: #F1F3F2;
        border-radius: 20px;
        border: 2px solid orange;
    }

    .blok1-2 {
        position: absolute;
        width: 37px;
        height: 37px;
        left: 16px;
        top: 15px;
    }

    .blok2-2 {
        position: absolute;
        width: 126px;
        height: 19px;
        left: 63px;
        top: 15px;
    }

    .blok3-2 {
        position: absolute;
        width: 87px;
        height: 18px;
        left: 63px;
        top: 35px;
    }

    .blok4-2 {
        position: absolute;
        width: 5px;
        height: 18px;
        left: 156px;
        top: 35px;
    }

    .blok5-2 {
        position: absolute;
        width: 65px;
        height: 18px;
        left: 166px;
        top: 35px;
    }

    .blok6-2 {
        position: absolute;
        width: 237px;
        height: 309px;
        left: 16px;
        top: 63px;
    }

    .s5-card3 {
        box-sizing: border-box;

        position: absolute;
        width: 267px;
        height: 391px;
        left: calc(50% - 267px/2 + 148.5px);
        top: 94px;
        /* gray_light */
        background: #F1F3F2;
        border-radius: 20px;
        border: 2px solid orange;
    }

    .blok1-3 {
        position: absolute;
        width: 37px;
        height: 37px;
        left: 16px;
        top: 15px;
    }

    .blok2-3 {
        position: absolute;
        width: 139px;
        height: 19px;
        left: 63px;
        top: 15px;
    }

    .blok3-3 {
        position: absolute;
        width: 87px;
        height: 18px;
        left: 63px;
        top: 35px;
    }

    .blok4-3 {
        position: absolute;
        width: 5px;
        height: 18px;
        left: 156px;
        top: 35px;
    }

    .blok5-3 {
        position: absolute;
        width: 65px;
        height: 18px;
        left: 166px;
        top: 35px;
    }

    .blok6-3 {
        position: absolute;
        width: 237px;
        height: 309px;
        left: 16px;
        top: 63px;
    }

    .s5-card4 {
        box-sizing: border-box;

        position: absolute;
        width: 266px;
        height: 391px;
        left: calc(50% - 266px/2 + 447px);
        top: 94px;
        background: #F1F3F2;
        border-radius: 20px;
        border: 2px solid orange;
    }

    .blok1-4 {
        position: absolute;
        width: 37px;
        height: 37px;
        left: 16px;
        top: 15px;
    }

    .blok2-4 {
        position: absolute;
        width: 97px;
        height: 19px;
        left: 63px;
        top: 15px;
    }

    .blok3-4 {
        position: absolute;
        width: 87px;
        height: 18px;
        left: 63px;
        top: 35px;
    }

    .blok4-4 {
        position: absolute;
        width: 5px;
        height: 18px;
        left: 156px;
        top: 35px;
    }

    .blok5-4 {
        position: absolute;
        width: 65px;
        height: 18px;
        left: 166px;
        top: 35px;
    }

    .blok6-4 {
        position: absolute;
        width: 237px;
        height: 309px;
        left: 16px;
        top: 63px;
    }

    input[type='range'] {
        box-sizing: border-box;

        position: absolute;
        width: 599px;
        height: 8px;
        left: calc(50% - 599px/2 - 0.5px);
        top: 506px;
        background: #F5F7F6;
        border-radius: 5px;
        -webkit-appearance: none;
    }

    input[type='range']::-webkit-slider-runnable-track {
        border-radius: 10px/100%;
        height: 7px;
        border: 0.5px solid #F9804B;
        background-color: #fff;
    }

    input[type='range']::-webkit-slider-thumb {
        cursor: pointer;
        width: 115.19px;
        height: 6px;
        background: #FE9013;
        border-radius: 5px;
        -webkit-appearance: none;
    }

    /* button */
    .feedback-animal {

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        position: absolute;
        width: 297px;
        height: 52px;

    }

    .button-feedback {
        position: absolute;
        width: 298px;
        height: 54px;
        left: 0px;
        top: 545px;
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    }

    .button-feedback:hover {
        background: #FFFFFF;
        color: #F9804B;
        border: 2px solid #F9804B;
        cursor: pointer;
    }

    .feedback-animal:hover {
        color: #F9804B;
        cursor: pointer;
    }

    .leav {
        position: absolute;
        width: 270.92px;
        height: 460.45px;
        right: 0;
        top: 4220.88px;
    }

    /* footer */
    .fotter {
        position: absolute;
        height: 443px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        top: 4532px;

        background: #111115;
        display: grid;
        grid-template-columns: 490px 350px 1fr;
        gap: 58px;
        align-content: flex-end;
    }

    /* logo */
    /* .logo-footer {
        position: absolute;
        width: 82px;
        height: 52px;
        left: 220px;
        top: 41px;
    }

    .box-logo {
        box-sizing: border-box;

        position: absolute;
        width: 82px;
        height: 52px;
        left: 0px;
        top: 0px;

        border: 1px solid #FFFFFF;
        border-radius: 2px;
    }

    .box-logo:hover {
        cursor: pointer;
    }

    .logo-text {
        box-sizing: border-box;

        position: absolute;
        width: 72.49px;
        height: 44.91px;
        left: 4.75px;
        top: 3.55px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 19.0145px;
        line-height: 120%;
        text-align: center;
        color: #FFFFFF;
    }

    .bamboo {
        box-sizing: border-box;
        position: absolute;
        width: 7.03px;
        height: 20.98px;
        left: 13.23px;
        top: 24.64px;

        transform: matrix(-0.9, 0.52, 0.4, 0.88, 0, 0);
    } */

    /* button */
    .volun-animal {

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        position: absolute;
        width: 297px;
        height: 52px;

    }

    .button-volun {
        position: absolute;
        width: 298px;
        height: 54px;
        left: 220px;
        top: 161px;
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        border-radius: 0;
    }

    .button-volun:hover {
        background: #FFFFFF;
        color: #F9804B;
        border: 2px solid #F9804B;
        cursor: pointer;
    }

    .volun-animal:hover {
        color: #F9804B;
        cursor: pointer;
    }

    /* linki */
    .link-fb {
        position: absolute;
        width: 111px;
        height: 26px;
        left: 220px;
        bottom: 158px;
    }

    .footer-fon-img {
        position: absolute;
        width: 26px;
        height: 26px;
        left: 0px;
        top: 0px;
        background: rgba(196, 196, 196, 0.5);
        border-radius: 50%;
    }

    .fb {
        position: absolute;
        width: 8px;
        height: 16px;
        left: 9px;
        top: 5px;
    }

    .link-name {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #FFFFFF;
    }

    .fb-name {
        position: absolute;
        width: 73px;
        height: 21px;
        left: 38px;
        top: 5px;
    }

    .link-fb:hover {
        cursor: pointer;
    }

    .link-tw:hover {
        cursor: pointer;
    }

    .link-in:hover {
        cursor: pointer;
    }

    .link-you:hover {
        cursor: pointer;
    }

    .link-tw {
        position: absolute;
        width: 89px;
        height: 26px;
        left: 220px;
        bottom: 122px;
    }

    .tw {
        position: absolute;
        width: 16px;
        height: 14px;
        left: 5px;
        top: 6px;
    }

    .tw-name {
        position: absolute;
        width: 50px;
        height: 22px;
        left: 38px;
        top: 3px;
        ;
    }

    .link-in {
        position: absolute;
        width: 110px;
        height: 26px;
        left: 220px;
        bottom: 86px;
    }

    .in {
        position: absolute;
        width: 16px;
        height: 16px;
        left: 5px;
        top: 5px;
    }

    .in-name {
        position: absolute;
        width: 73px;
        height: 22px;
        left: 38px;
        top: 3px;
    }

    .link-you {
        position: absolute;
        width: 101px;
        height: 26px;
        left: 220px;
        bottom: 50px;
    }

    .you {
        position: absolute;
        width: 18px;
        height: 12.99px;
        left: 4px;
        top: 6px;
    }

    .you-name {
        position: absolute;
        width: 63px;
        height: 22px;
        left: 38px;
        top: 4px;
    }

    /* bnt and sub */
    .sub-title {
        position: absolute;
        width: 237px;
        height: 29px;
        right: 350px;
        top: 40px;
        /* subtitle */
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        /* identical to box height, or 29px */
        color: #FFFFFF;
    }

    #Subscribe {
        position: absolute;
        width: 228px;
        height: 42px;
        right: 359px;
        top: 83px;
        background: #111115;
        border: 1px solid #F9804B;
    }

    #Subscribe::placeholder {
        position: absolute;
        width: 211px;
        height: 22px;
        left: 10px;
        top: 10px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        /* or 22px */
        color: #BDBDBD;
    }

    .sub-button-f {
        position: absolute;
        width: 129px;
        height: 44px;
        right: 220px;
        top: 83px;
        background: #F1F3F2;
        border: 1px solid #111115;
    }

    .button-f {
        position: absolute;
        left: 30.23%;
        right: 30.23%;
        top: 23.81%;
        bottom: 23.81%;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        /* or 22px */
        color: #111115;
    }

    .button-f:hover {
        cursor: pointer;
        font-size: 17px;
        color: #F9804B;
    }

    .footer-dis {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 100;
        font-size: 16px;
        line-height: 130%;
        /* identical to box height, or 21px */
        color: #FFFFFF;
    }

    .dis-by {
        position: absolute;
        width: 220px;
        height: 21px;
        right: 228px;
        bottom: 81px;
    }

    .rss {
        position: absolute;
        width: 228px;
        height: 21px;
        right: 220px;
        bottom: 50px;
    }




    /* вариант для верхней панды */
    /* .image-pand {
        display: block;
        height: 187px;
        max-width: 100%;
    }
    .image-pand img{
        
        height: 187px;
        max-width: 100%;
        left: -32px;
    } */