body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.conteiner {
    max-width: 100%;
}
header {
    height: 780px;
}
.panda {
    width: 1600px;
}
/* Header */
.header {
    position: relative;
    max-width: 1600px;
    height: 80px;

    background: #000000;
    backdrop-filter: blur(2px);
    display: grid;
    grid-template-columns: 28.9% 23.4% 47.7%;
    overflow: visible;
}

.logo {
    width: 82px;
    height: 52px;
    margin-top: 14px;
    margin-bottom: 14px;
    justify-self: end;
    margin-right: 63px;
}

.box-logo {
    box-sizing: border-box;
    position: relative;
    width: 82px;
    height: 52px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
}

.box-logo:hover {
    cursor: pointer;
}

.logo-text {
    box-sizing: border-box;
    width: 72.49px;
    height: 44.91px;
    left: 4.75px;
    top: 3.55px;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
}
.logo-text a {
    text-decoration: none;
}

.bamboo {
    box-sizing: border-box;
    position: absolute;
    width: 7.03px;
    height: 20.98px;
    left: 6.23px;
    top: 20.64px;
}
.bamboo img {
    width: 100%;
}

.navigation {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 26%;
    justify-content: start;
    align-content: start;
    column-gap: 58px;
    margin-top: 29px;
    margin-bottom: 29px;
    padding-left: 0;
}

.des {
    position: relative;
    margin-top: 29px;
    margin-bottom: 29px;
    margin-right: 220px;
    margin-left: 0;
    justify-self: end;
}

.navigation a {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}
.burger-header {
    display: none;
}

#Donate {
    color: #F9804B;
}

.navigation a:hover {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    cursor: pointer;
}

.navigation a.active {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

li {
    list-style-type: none;
}

#Designed {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

@media (max-width: 1290px) {
    .header {
        grid-template-columns: 17.5% 38.9% 39.4%;
        z-index: 2;
    }

    .logo {
        margin-left: 30px;
        margin-top: 13px;
        margin-bottom: 13px;
        margin-right: 0;
        justify-self: start;
    }

    .navigation {
        column-gap: 48px;
    }

    .des {
        margin-right: 30px;
    }
}

@media (max-width: 780px) {
    .header {
        height: 34px;
        z-index: 0;
    }

    .logo {
        width: 46.93px;
        height: 29.03px;
        margin-left: 20.07px;
        margin-top: 2.29px;
        margin-bottom: 2.68px;
        margin-right: 0;
    }

    .box-logo {
        width: 46.93px;
        height: 29.03px;
        border: none;
    }

    .logo-text {
        width: 46.86px;
        height: 29.03px;
        left: 0px;
        top: 0px;
        font-weight: 400;
        font-size: 12.2899px;
        line-height: 120%;
        text-align: center;
    }
    .bamboo {
        width: 4.54px;
        height: 13.56px;
        left: 4.23px;
        top: 8.64px;
    }

    .navigation {
        display: none;
    }

    .des {
        display: none;
    }
    .burger-header {
        display: block;
        position: relative;
        width: 18px;
        height: 10px;
        top: 11px;
        left: 498px;
        margin-right: 13px;
    }
    .burger-header span {
        position: absolute;
        background-color: #ffffff;
        width: 100%;
        height: 2px;
        top: 4px;
    }
    .burger-header:before,
    .burger-header:after {
        content: "";
        background-color: #ffffff;
        position: absolute;
        width: 100%;
        height: 2px;
        left:0;
    }
    .burger-header:before {
        top:0;
    }
    .burger-header:after {
        bottom: 0;
    }
}

@media(max-width: 400px) {
    .logo {
        margin-left: 10.07px;
    }
    .burger-header {
        top: 12px;
        left: 232px;
        margin-right: 16px;
    }
}

/* header picture */
.image-pand {
    max-width: 1600px;
    height: 390px;
}
.panda {
    position: relative;
    height: 780px;
    left: 0px;
    right: 0px;
    top: 0px;
    max-width: 100%;
    background: url(images/GiantPanda.png) no-repeat;
    background-size:cover;
    background-position: center center;
}

@media(max-width: 1290px) {
    .image-pand {
        width: 1000px;
        height: 390px;
        position: relative;
        overflow: hidden;
    }
    .image-pand img{
        position: absolute;
        left:-172px;
    }
}
@media(max-width: 780px) {
    .image-pand {
        width: 640px;
        height: 335px;
        position: relative;
        overflow: hidden;
    }
    .image-pand img{
        position: absolute;
        width: 1373px;
        height: 335px;
        left:-272px;
    }
}
@media(max-width: 400px) {
    .image-pand {
        width: 320px;
        height: 187px;
        position: relative;
        overflow: hidden;
    }
    .image-pand img{
        position: absolute;
        width: 766.42px;
        height: 187px;
        left:-172px;
    }
}
/* section1 */
.donate-section {
    position: relative;
    Width: 1600px;
    height: 1482px;
    left: 0px;
    right: 0px;

    /* orange_gradient */
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.section-title {
    position: relative;
    width: 1156px;
    height: 47px;
    top: 40px;
    margin: 0;
    margin-left: 220px;
    margin-bottom: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    /* identical to box height, or 47px */
    color: #FFFFFF;
}

.section-title h3 {
    margin: 0;
}

.section-text {
    position: relative;
    width: 1160px;
    height: 94px;
    margin-left: 220px;
    margin-bottom: 40px;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    color: #FFFFFF;
}

.second-title {
    position: relative;
    width: 341px;
    height: 47px;
    margin: 0;
    margin-left: 220px;
    margin-bottom: 60px;
    top: 17px;
    /* h3 */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    /* identical to box height, or 47px */
    color: #FE9013;
}

/* block */
.block {
    position: relative;
    width: 1160px;
    height: 964px;
    top: 20px;
    margin-left: 220px;
    margin-right: 220px;

    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;
}

.block-1 {
    position: relative;
    width: 976px;
    height: 862px;
    margin: 40px 92px 62px 92px;
    top:40px;
}

.block-title {
    position: relative;
    width: 463px;
    height: 58px;
    margin:0;
    margin-left: 250px;
    margin-bottom: 20px;
    /* h2 */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    /* identical to box height, or 58px */
    text-align: center;
    /* or3 */
    color: #FE9013;
}

.block-donate-text {
    position: relative;
    width: 1095px;
    height: 29px;
    margin-left: 0;
    margin-bottom: 60px;
    /* subtitle */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    /* identical to box height, or 29px */
    color: #333B41;
}
.img-box {
    position: relative;
    width: 1156px;
    height: 246px;
    display: grid;
    grid-template-columns: 159px 14px 337px;
    gap: 11px;
    grid-template-areas: "num x pand-img" "text x pand-img";
    margin-left:215px;
}
.day-donate {
    position: relative;
grid-area: num;
    justify-self: center;
    align-self: end;
}

.donate-day-text {
    position: relative;

    /* body */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    text-align: center;
    color: #333B41;
    grid-area: text;
}

.x-donate {
    position: relative;
    width: 14px;
    height: 14px;
    align-self: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    grid-area: x;
}

.panda-donate {
    position: relative;
    width: 284px;
    height: 246px;
    grid-area: pand-img;
    justify-self: end;
}

.Amound-text {
    position: relative;
    width: 57px;
    height: 22px;
    left: 4px;
    top: 98px;
    /* body */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    color: #000000;
}

/* input2 */

#tentacles {
    position: relative;
    width: 268px;
    height: 54px;
    left: 350px;
    top: 150px;
    border: 1px solid #929699;
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
}

#tentacles::placeholder {
    position: absolute;
    left: 3.36%;
    right: 53.36%;
    top: 29.63%;
    bottom: 29.63%;
    /* body */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    color: #929699;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#number {
    width: 3em;
}

input[type="number"]:focus {
    outline: 2px solid #F9804B;
}

.text-field__icon {
    position: relative;
}

.text-field__icon .text-field__input {
    padding-left: 2rem;
}

.text-field__icon {
    width: 10px;
    height: 20px;
    background-image: url('donate-icons/$.png');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    left: 600px;
    top: 110px;
}

/* input1 */
.slider {
    position: relative;
    width: 976px;
    height: 80px;
}
.places {
    position: relative;
    width: 976px;
    height: 27px;
    left: 0px;
    top: 103px;

    background: #404950;
    border-radius: 2px;
}

.places2 {
    position: absolute;
    width: 915px;
    height: 2px;
    left: 31px;
    top: 116px;
    z-index: 2;

    background: #72828E;
}

.text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    /* or 36px */
    text-transform: uppercase;
    color: #333B41;
}

.but-space {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 5;
}
/*.but-space:hover {*/
/*    border: 1px solid #F9804B;*/
/*}*/

.b1 {
    width: 10px;
    height: 10px;
    left: 26px;
    top: 78px;
    z-index: 4;
}

.t1 {
    position: relative;
    top: 80px;
    left: -3px;
    z-index: 4;
}

.b1:hover {
    background-color: #F9804B;
    cursor: pointer;
}

.b1:hover .t1 {
    color: #F9804B;
}

.b2 {
    left: 156px;
    top: 12px;
    z-index: 4;
}

.t2 {
    position: relative;
    left: 127px;
    top: 15px;
    z-index: 4;
}

.b2:hover {
    background-color: #F9804B;
    cursor: pointer;
}

.b3 {
    left: 286px;
    top: -54px;
    z-index: 4;
}

.t3 {
    position: relative;
    left: 257px;
    top: -50px;
    z-index: 4;
}

.b3:hover {
    background-color: #F9804B;
    cursor: pointer;
}

.b4 {
    left: 416px;
    top: -121px;
    z-index: 4;
}

.t4 {
    position: relative;
    left: 387px;
    top: -115px;
    z-index: 4;
}

.b4:hover {
    background-color: #F9804B;
    cursor: pointer;
}

.b5 {
    left: 546px;
    top: -187px;
    z-index: 4;
}

.t5 {
    position: relative;
    left: 517px;
    top: -180px;
    z-index: 4;
}

.b5:hover {
    background-color: #F9804B;
    cursor: pointer;
}

.b6 {
    left: 676px;
    top: -254px;
    z-index: 4;
}

.t6 {
    position: relative;
    left: 647px;
    top: -245px;
    z-index: 4;
}

.b6:hover {
    background-color: #F9804B;
    cursor: pointer;
}

.b7 {
    left: 806px;
    top: -320px;
    z-index: 4;
}

.t7 {
    position: relative;
    left: 777px;
    top: -310px;
    z-index: 4;
}

.b7:hover {
    background-color: #F9804B;
    cursor: pointer;
}

.b8 {
    left: 936px;
    top: -386px;
    z-index: 4;
}

.t8 {
    position: relative;
    left: 907px;
    top: -375px;
    z-index: 4;
}

.b8:hover {
    background-color: #F9804B;
    cursor: pointer;
}

.slider button {
    position: relative;
    width: 10px;
    height: 10px;
    background: #FFEE2E;
    border-radius: 50%;
    padding: 0;
}

/* input3 */
.radio {
    position: relative;
    width: 218px;
    height: 21px;
    margin-left: 382px;
    top:155px;
}
#contactChoice2 {
    position: absolute;
    width: 84px;
    height: 21px;
    left:-30px;
    margin: 0;
}

.lab-1 {
    position: absolute;
    width: 84px;
    height: 21px;
    left: 30px;
    /* body */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    color: #333B41;
}

#contactChoice3 {
    position: absolute;
    width: 84px;
    height: 21px;
    margin: 0;
    left: 104px;
}

.lab-2 {
    position: absolute;
    width: 84px;
    height: 21px;
    left: 166px;
    /* body */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    color: #333B41;
}

/* button */
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}
.donate-animal {
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    width: 297px;
    height: 52px;
}

.button-donate {
    position: relative;
    width: 298px;
    height: 54px;
    left: 342px;
    top: 160px;
    margin-top: 31px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    margin-bottom: 30.02px;
}

.button-donate:hover {
    background: #FFFFFF;
    color: #F9804B;
    border: 2px solid #F9804B;
    cursor: pointer;
}

.donate-animal:hover {
    color: #F9804B;
    cursor: pointer;
}

.last-text {
    position: relative;
    width: 301px;
    height: 22px;
    left: 340px;
    top: 150px;
    /* body */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    color: #333B41;
}
